*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.calc_Container{
    font-family: Arial, sans-serif;
    margin: 50px;
    padding: 20px;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    height: 500px;
    width: 345px;
    background-color: black;
    color: white;
}