*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display_Container{
    /* border: 2px solid white; */
    height: 50px;
    width: 100%;
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 20px;
}