*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 
/* .button_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    justify-items: center;
} */

.num_grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

/* .op_grid{
    display: grid;
    gap: 10px;
} */

button{
    padding: 24px;
    background: #3e5e6b;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    color: white;
} 

button:hover{
    background: #ccc;
    color: black;
}
.reset_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    width: 281px;
    margin-top: 5px;
}




